.banner-area {
  text-align: center;
  padding-top: 200px;
  color: white;
  letter-spacing: 1.2px;
}
.banner-area span {
  color: orangered;
}
.button-area {
  padding-top: 30px;
}
.button-area a {
  color: white;
  font-size: 18px;
  padding: 5px 30px;
  background-color: transparent;
  border: 1px solid white;
  text-decoration: none;
}
.button-area a:hover {
  color: black;
  border: none;
  background-color: rgb(11, 214, 214);
  transition: 0.7s;
}
