.faq-img img {
  width: 500px;
  position: relative;
  top: 50px;
}
.faq-section {
  padding: 80px 0;
}
.faq-description h3 {
  padding: 20px 0;
  color: orangered;
  margin-left: 30px;
}
.faq-description hr {
  width: 4%;
  position: relative;
  top: 55px;
  right: 1px;
  border-top: 2px solid orangered;
  border-bottom: 1px solid orangered;
}
.faq-description h1 {
  padding: 10px;
  font-size: 40px;
}
.faq-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
